@import url(
    'https://font.googleapis.com/css2?family=Poppins'
);

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,700;1,600;1,700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



section.all{
    position:relatve;
    width:100%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(bg.jpeg)no-repeat;
    background-size:cover;
    background-position:center;
}



a{
    text-decoration:none;
}

ul{
    list-style:none;
}

.active{
    color:#ff1f44;
}

body, html{
    overflow-x: hidden;
}


/*nav bar*/
header{
    position:fixed;
    background-color:#ffffffa4;;
    top:0;
    left:0;
    display:flex;
    width:100%;
    justify-content: space-between;
    padding:20px;
    padding-right:60px;
    padding-left:60px;
    color:rgb(0, 177, 115);
    z-index:1000;
}

.logo-link{
    display:inline-flex;
    align-items: center;
}

.logo-image{
    position:relative;
    max-width:60px;
    margin-right:8px;
    
}

.logo-text{
    font-size:32px;
    font-weight:900;
    color:#00af87;
}

.menu{
    display:flex;
    align-items:center;
}

.menu li{
    margin: 0 28px;
    font-size : 1.3em;
    cursor:pointer;
    transition:transform 0.6s;

    position:relative;

    margin-right:auto;
}

.menu li:hover{
    transform:translateY(-6px);
    color:#ffc107;
}


.menu .ctn{
    padding: 8px 15px;
    background:#00af87;
    border-radius: 30px;
    color:whitesmoke;
}



.box{
    position:absolute;
    top:50%;
    left:50%;
    width:500px;
    transform:translate(-50%,-50%);
}

input{
    position:relative;
    display:inline-block;
    font-size:20px;
    box-sizing:border-box;
    transition:.5s;
    margin-top:550px;
}

input[type="text"]{
    background:#fff;
    width:340px;
    height:50px;
    border:none;
    outline:none;
    padding:0 25px;
    border-radius: 25px 0 0 25px;

}

input[type="submit"]{
    position:relative;
    left:-5px;
    border-radius:0 25px 25px 0;
    width:150px;
    height:50px;
    border:none;
    outline:none;
    cursor:pointer;
    background: #ff5722;
    color:#fff;
}

input[type="submit"]:hover{
    background:#ffc107;
}

.landing-content {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.landing-video{
    position:absolute;
    filter:brightness(70%);
    z-index:-1500;
}


.landing-content::before .landing-video {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


.landing-text{
    font-family:playfair display;
    font-weight:600;
    margin-bottom:270px;
    color:#fff;
    text-align:center;
}

.landing-text h2{
    font-size:4vmin;
}

.line{
    width:150px;
    height:4px;
    background:#00af87;
    margin:10px auto;
    border-radius:5px;
}

.landing-text h1{
    font-size:7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn{
    padding: 8px 15px;
    background:rgb(12, 206, 203);
    border-radius: 30px;
    color:whitesmoke;
}

.menu-btn{
    position:absolute;
    top:30px;
    right:30px;
    width:40px;
    cursor:pointer;
    display:none;

}


/* Events */
section{
    width:85%;
    margin: 80px auto;
}


.image-container{
    position: relative;
    width: 100%;
    height: auto;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    padding-left:20px;
    padding-bottom:0px;
    width: 80%;
    max-width: 600px;
}

.image-container h3{
    color:rgb(255, 255, 255);
    font-size:3vmin;
}

.text-overlay h2, .text-overlay p {
    margin: 0;
}





.title{
    text-align: center;
    font-size:3vmin;
    color:#000;
}

.row{
    display:flex;
    align-items:center;
    width:100%;
    justify-content: space-between;
    padding-top:40px;
    /*background:cyan;*/
}

.row .col{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.event .row{
    margin-top:50px;
}

h3{
    font-size:3vwin;
    color:rgb(82, 81, 48);
    margin: 20px auto;
}

p{
    color:rgb(67, 61, 61);
    padding:0px 40px;
}

.events .ctn{
    margin-top:30px
}

.row .col img{
    width:92%;
}

.explore{
    position:relative;
    height:60vh;
    width:85%;
    background-image:url('./springbreak.jpg');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    
}


.explore-content{
    width:60%;
    padding:50px;
    color:rgb(49, 48, 48);
    display:flex;
    align-items:left;
    flex-direction: column;
    
}

.explore-content h1{
    font-size:7vmin;
    margin:50px;
}

.explore-content p{
    color:rgb(255, 255, 255);
    font-size:3vmin;
    margin:50px;
    margin-top:0px;
    padding:0;
    font-weight:400;
}

.explore-content .ctn{
    margin-top:40px;
    width:20%;
    margin:50px;
    margin-top:10px;
    height:40px;
    text-align: center;
    font-size:1.2em;
}

.tours .row .content-col{
    padding:50px;
    color:rgb(49, 48, 48);
    display:flex;
    align-items:left;
    flex-direction: column;
}
.content-col{
    width:40%;
}

.content-col h1{
    padding:0;
    margin:30px;
    margin-left:0px;
    font-size:4vmin;
}

.content-col .line{
    margin-left:0px;
}

.content-col .ctn{
    /*
    margin:30px;
    margin-left:0;
    */
    
    width:40%;
    margin:50px;
    margin-left:0px;
    height:40px;
    text-align: center;
    font-size:1.2em;


}


.image-col{
    width:60%;
}



.tours .image-gallery{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    align-items:center;
}

.image-gallery img{
    max-width: 300px;
    /*display: inline-block;*/
    margin: 10px;
}


.guide{
    display:flex;
    align-items:center;
}

.guide-content{
    width:60%;
    padding:50px;
    color:rgb(0, 0, 0);
    display:flex;
    align-items:center;
    flex-direction: column;
    
    position:relative;
    width:100%;
    height:60vh;

    background-image:url('./guide.jpg');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;

}

.guide-content h1{
    font-size:7vmin;
    margin:50px;
    margin-top:150px;
}

.guide-content p{
    color:rgb(0, 0, 0);
    font-size:3vmin;
}

.guide-content .ctn{
    margin-top:40px;
}

.guide-content {
    margin-bottom:50px;
    
}




footer{
    width:100%;
    min-height:100px;
    padding:20px 80px;
    margin:0;
    background:rgba(249, 203, 211, 0.489);
    text-align:center;
}

footer p{
    margin:20px auto;
    padding:20px auto;
}



/*mobile device*/
@media only screen and (max-width:850px){
 
    .menu-btn{
        display:block;
    }


    .navbar{
        padding:0;
    }

    .logo{
        position:absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links{
        flex-direction: column;
        width:100%;
        height:100vh;
        justify-content:center;
        background:rgb(72, 39, 83);
        margin-top:-900px;
        transition:all 0.5s ease;
    }

    .mobile-menu{
        margin-top:0px;
        border-bottom-right-radius: 30%;
    }

    .nav-links li{
        margin:30px auto;
    }

    /*events*/
    .row{
        flex-direction:column;
    }

    .row .column{
        margin:20px auto;
    }

    .col img{
        max-width:90%;
    }

    /*explore*/
    .explore-content{
        width:100%;
    }
    .tours .col{
        width:100%;
    }

    .image-gallery{
        justify-content:center;
        align-items:center;
    }

    .image-gallery img{
        width:90%;
    }

    .footer{
        padding:10px;
    }
}

/* Animation */
img{
    transition:transform .3s ease;
}

img:hover{
    transform:scale(1.1);
}

.ctn:hover{
    background:whitesmoke;
    color:rgb(192, 30, 97);
    box-shadow:2px 2px 5px rgb(174, 171, 171);
}

li:hover{
    color:rgb(194, 32, 94);
}


